@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap";

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

.checkboxes{
    display: flex;
    margin-left: 70px;

}

.checkboxes > div:last-child{
    margin-left: 20px;
}

.checkbox_field{
    justify-content: flex-start !important;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Poppins';
    font-style: normal;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/


body {
    background: url("/img/main_wrapp.jpg");
    display: flex;
    justify-content: center;
}

#modal_trigger{
    cursor: pointer;
}

.modal{
    width: 780px;
    background: white;
    border-radius: 16px;
    padding: 20px 0;
    z-index: 10000;
    position: fixed;
}

.modalTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 52px;
    color: #000000;
}

.close-icon{
    position: absolute;
    right: 22px;
    top: 18px;
    cursor: pointer;
}

.form-control{
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: #000000;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #000000;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #000000;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.modal_fields{
    padding: 0 80px 0 40px;
    display: flex;
    flex-direction: column;
}


.modal_fields > .main_first_bottom_left{
    margin-top: 40px;
    max-width: 200px;
    align-self: center;
    justify-self: center;
}
.field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}


.field_label > span:first-child{
    color: red;
}

.field_label > div{
    margin-left: 10px;
}

.phone-error{
    border-bottom: 1px solid red !important;
}

#mobile-number{
    width: 460px !important;
    border-bottom: 1px solid #9F9F9F;
}

.field > input{
    width: 460px !important;
    border: none !important;
    padding: 6px 4px !important;
    border-bottom: 1px solid #9F9F9F !important;
}
@media screen and (max-width: 780px) {
    .modal{
        width: 90%;
    }
    .field{
        flex-direction: column;
        align-items: flex-start;
    }
    .field > input {
        width: 100% !important;
    }
    #mobile-number{
        width: 100% !important;
    }
    .iti--allow-dropdown{
        width: 100% !important;
        margin-top: 6px;
    }
    .modal_fields{
        padding: 0 40px;
    }
    .checkbox_field > .checkboxes{
        margin-left: 0;
        margin-top: 16px;
    }
}

#modalLayout{
    top: 0;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: none;
}

.openLayout{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.body_wrapper {
    width: 70%;
    /*margin: 0 auto;*/
    /*background: orange;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 90%;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    flex-basis: 65%;
    align-items: center;
    margin-right: 3%;
}

.header_nav_left {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    color: #FFFFFF;
    flex-basis: 65%;
}

.header_nav_left a {
    color: #FFFFFF;


}

.header_nav_left div {
    /*margin: 10px;*/
}

.border_bott {
    border-bottom: 1px solid #FFC121;
}

/*.header_nav_left a:hover{*/
/*    border-bottom: 2px solid #FFC121;*/
/*}*/


.header_nav_icon {
    display: flex;
    flex-basis: 23%;
    justify-content: space-between;

}

.header_nav_icon img {
    border: 2px solid #FFC121;
    border-radius: 50%;
    padding: 4px;
}


.main {
    /*display: flex;*/
    /*justify-content: center;*/
}

.main_first {
    margin-top: 60px;
    height: 564px;
    /*width: 90%;*/

}

.main_first_top {
    display: flex;
}

.main_first_top_left_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 80%;
}

.main_first_top_left_header a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 11.823px;
    line-height: 17px;
    color: #FFC121;
    border: 0.59115px solid #FFC121;
    border-radius: 8.86724px;
    padding: 4px 6px;

}

.as_one {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    color: #FFFFFF;
    margin: 20px 0;
    /*width: 75%;*/
}

.thanks_to {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    /*width: 72%;*/


    color: #FFFFFF;
}

.big_goals {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 103px;
    /* or 108% */

    letter-spacing: 0.0876847px;

    color: #FFFFFF;
}

.main_first_top_left {
    /*flex-basis: 50%;*/
    margin-right: 5%;
    /*width: 50%;*/
    /*margin-left: 110px;*/
}

.main_first_top_right {
    /*flex-basis: 50%;*/
    /*width: 60%;*/
    /*height: 564px;*/
    position: relative;
}

.background_left_girl {
    position: absolute;
    top: 12px;
}

.background_center_phone {
    position: absolute;
    top: -39px;
    left: 30%;
    z-index: 5;
}

.background_right_girl {
    position: absolute;
    top: -111px;
    left: 50%;
}


.main_first_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.main_first_bottom_left {
    cursor: pointer;
    background: #FFC121;
    border-radius: 18.3832px;
}

.main_first_bottom_left p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    /* identical to box height, or 100% */

    text-align: center;
    letter-spacing: 1.3px;
    text-transform: uppercase;

    color: #000000;
    padding: 20px 25px;
}

.main_first_bottom_right {
    background: #FFFFFF;
    border-radius: 45px;
    display: flex;
    align-items: center;

}

.earn_more {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: #000000;
    padding: 20px 20px;
}

.p_\$ {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 33.7816px;
    line-height: 36px;
    /* identical to box height, or 107% */

    text-align: center;
    letter-spacing: 3.13686px;
    text-transform: uppercase;

    color: #000000;
    border-radius: 50%;
    background: #FFC121;
    padding: 10px 17px;

}


.about_us {
    margin-top: 6%;
}

.about_us_wrapper {
    display: flex;
}

.about_us_header p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    /*text-align: center;*/
    color: #FFFFFF;
    margin-bottom: 3%;
}

.about_us_left_group_three {
    display: flex;
}

.two_img {
    display: flex;
    flex-direction: column;
}

.about_us_left_group_three img {
    padding: 5px;
}

.about_us_right_top {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    /* or 48px */


    color: #FFC121;
}

.about_us_right_main {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    border-bottom: 2px solid #FFC121;
    padding-bottom: 5%;
    padding-top: 5%;
}

.about_us_right_bottom {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 44px;
    color: #FFFFFF;
    padding-top: 5%;
}

.about_us_right_bottom span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 44px;
    /* or 174% */


    color: #FFC121;
}

.about_us_left {
    margin-right: 4%;
}

.header_nav_icon_burger {
    display: flex;
    align-items: center;
    margin-top: 7px;

}

.header_nav_icon_burger img {
    border: 2px solid #FFC121;
    border-radius: 50%;
    padding: 5px;
    margin-right: 8px;
}

.header_nav_burger a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    color: #FFFFFF;
    flex-basis: 65%;
}

/*.burger{*/
/*    padding: 10px;*/
/*    z-index: 1;*/
/*    !*position: relative;*!*/
/*}*/
/*.burger_wrapper::before {*/
/*    content: "";*/
/*    opacity: 0.4;*/

/*    z-index: -1;*/
/*    background: url("/img/fone_burger_2.jpg");*/
/*    position: absolute;*/
/*    background-position: center;*/
/*    background-size: 100%;*/
/*    top: 100px;*/
/*    left: 180px;*/
/*    bottom: 385px;*/
/*    right: 180px;*/
/*    border-radius: 8px;*/

/*}*/
.burger {
    background: url("/img/fone_burger_2.jpg") center;
    background-size: 100%;
    border-radius: 8px;
    padding: 10px;
    display: none;
}

.fa-bars {
    color: #FFFFFF;
    font-size: 30px;
    /*padding-top: 3px;*/


}

.burger_icon {
    display: none;
}

.burgerNavOn {
    display: block;
    /*position: fixed;*/
    /*width: 80%;*/

}

.header_nav_burger div a:hover {
    color: #FFC121;
    /*background: #FFC121;*/
    font-size: 23px;
}


/*.telegram_back {*/
/*    position: relative;*/
/*    margin-bottom: 6%;*/


/*}*/

/*.img_tel_shadow {*/
/*    box-shadow: 2px 5px 9px deepskyblue;*/
/*    border-radius: 61px;*/
/*}*/

/*.telegram_baby {*/
/*    position: absolute;*/
/*    top: 0%;*/
/*    left: 52%;*/
/*    z-index: 10;*/
/*}*/

/*.tables_first {*/
/*    background: #FFFFFF;*/
/*    min-width: 10%;*/
/*    text-align: center;*/
/*    border-radius: 20px;*/
/*    top: 12%;*/
/*    left: -3%;*/


/*}*/

/*.telegram_back p {*/
/*    font-family: 'Poppins';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-size: 16px;*/
/*    line-height: 28px;*/
/*    color: #000000;*/
/*    !*padding: 4px;*!*/
/*}*/


/*.tables_second {*/
/*    display: flex;*/
/*    !*margin: 10px 0 10px -20px;*!*/
/*    top: 27%;*/
/*    left: -5%;*/
/*}*/

/*.tables_second div {*/
/*    background: #FFFFFF;*/

/*    text-align: center;*/
/*    border-radius: 20px;*/
/*}*/

/*.tables_second div:nth-child(1) {*/
/*    margin-right: 5px;*/
/*}*/

/*.tables_third {*/
/*    display: flex;*/
/*    !*margin: 10px 0 10px -20px;*!*/
/*    top: 42%;*/
/*    left: -5%;*/
/*}*/

/*.tables_third div {*/
/*    background: #FFFFFF;*/

/*    text-align: center;*/
/*    border-radius: 20px;*/
/*}*/

/*.tables_third div:nth-child(1) {*/
/*    margin-right: 5px;*/
/*}*/

/*.tables_absolut {*/
/*    position: absolute;*/
/*}*/

/*.tables_absolut p {*/
/*    padding: 3px 20px;*/
/*}*/

/*.tables_forth {*/
/*    display: flex;*/
/*    top: 57%;*/
/*    left: -2.5%;*/
/*}*/

/*.tables_forth div {*/
/*    background: #FFFFFF;*/

/*    text-align: center;*/
/*    border-radius: 20px;*/
/*}*/

/*.tables_forth div:nth-child(1) {*/
/*    margin-right: 5px;*/
/*}*/

/*.tables_fifth {*/
/*    display: flex;*/
/*    top: 72%;*/
/*    left: -4%;*/
/*}*/

/*.tables_fifth div {*/
/*    background: #FFFFFF;*/

/*    text-align: center;*/
/*    border-radius: 20px;*/
/*}*/

/*.tables_fifth div {*/
/*    margin-right: 5px;*/
/*}*/

.services_intro p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #EEEEEE;
    margin: 7% 0 3% 0;
}

/*.telegram_icon {*/
/*    display: flex;*/
/*    position: absolute;*/
/*    background: #FFFFFF;*/
/*    border-radius: 24px;*/
/*    align-items: center;*/
/*    top: 90%;*/
/*    left: 25%;*/
/*    z-index: 20;*/
/*}*/

/*.telegram_icon p {*/
/*    font-family: 'Poppins';*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    font-size: 28px;*/
/*    line-height: 45px;*/
/*    text-transform: uppercase;*/
/*    color: #000000;*/
/*    padding: 0 10px 0 10px;*/
/*}*/

/*.services_wrapper {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    width: 94%;*/
/*    !*margin-top: 10%;*!*/
/*}*/

/*.services{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    !*align-items: center;*!*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

.services_block_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services_block_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services_block_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*.services_block_top div{*/
/*    padding: 20px;*/

/*}*/
.services_block_bottom > div:nth-child(1) {
    padding: 0 0 24px 5px;
    /*background: deepskyblue;*/
}

.services_block_top > div:nth-child(2) {
    padding: 0 20px 0 0;
    /*background: deepskyblue;*/
}

.services_block_bottom > div:nth-child(2) {
    margin-top: -20px;
    /*background: deepskyblue;*/
}

.services_block_top > div:nth-child(1) {
    /*padding-bottom: 22px;*/
    /*background: deepskyblue;*/
}

.case_studies_intro {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-top: 70px;

}

.case_studies {
    display: flex;
    justify-content: center;
    width: 100%;
}

.case_studies_wrapper {

}

.case_studies_main_wrapper {

    /*min-width: 1057px;*/


    display: flex;
}

.case_studies_main_right {
    /*margin-left: 5%;*/
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;

}

.case_studies_main_right img {
    width: 543px;

}

.case_studies_main_left {
    /*margin-left: 5%;*/
    flex-basis: 50%;

}

.owerview_conent {
    /*max-width: 80%;*/
}

.case_studies_button {
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 57px;
}

.case_studies_button > div:nth-child(1) {
    background: #FFC121;
    padding: 0 30px;
    border-radius: 25px;
}

.case_studies_button > div:not(:first-child) {
    background: black;
    padding: 0 30px;
    border-radius: 25px;
    border: 2px solid #FFC121;

}

.but_studies_first {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32.633px;
    line-height: 49px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.but_studies_second {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32.633px;
    line-height: 49px;
    /* identical to box height */
    color: #FFC121;
}

.but_studies_third {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32.633px;
    line-height: 49px;
    /* identical to box height */
    color: #FFC121;
}

.case_studies_low {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    /* identical to box height, or 48px */
    color: #FFFFFF;
    margin: 53px 0 35px 0;
}

.before_sol {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    /* identical to box height, or 112% */
    position: relative;


    color: #FFFFFF;
}

.ul_before li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 44px;
    /* or 218% */


    color: #FFFFFF;
}

.ul_before li::before {
    content: '●';
    color: #FFC121;
    margin-right: 12px;

}

.ul_li {
    margin-top: 30px;
    margin-bottom: 40px;
}

.before_sol p::after {
    content: "";
    border: 2px solid #FFC121;
    transform: rotate(180deg);
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 23%;
    z-index: -1;


}

.overview {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    /* identical to box height, or 112% */
    color: #FFFFFF;
    position: relative;
    margin-bottom: 30px;
    margin-top: 80px;

}

.overview p::after {
    content: "";
    border: 2px solid #FFC121;
    transform: rotate(180deg);
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 23%;
    z-index: -1;


}

.owerview_conent p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    /* or 182% */


    color: #FFFFFF;
}

.result_main_first {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    /* or 48px */


    color: #FFC121;

}

.result_main_second {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    /* or 182% */
    margin: 91px 0 53px 0;


    color: #FFFFFF;
}

.money {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 96px;
    /* identical to box height, or 192% */


    color: #FFC121;
}

.money_bott {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 127% */


    color: #FFFFFF;
}

.result_main_third {
    display: flex;
}

.result_main_third_img {
    margin-right: 100px;
}

.result {
    margin-top: 50px;
}

.result_main_third_right_wrapper div {
    margin-bottom: 20px;
}

.footer {
    margin-top: 55px;
    padding-bottom: 40px;
    /*background: #FFC121;*/
}

.footer_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 59px;

}

.footer_top_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 85%;
}

.footer_top_nav_icon img {
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 50%;
    padding: 10px;
    margin: 6px;
}

.footer_top_nav_butt {
    background: #FFC121;
    border-radius: 18.3832px;
    padding: 20px 25px;
    margin-right: 15%;
}

.footer_top_nav_butt a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    /* identical to box height, or 100% */

    text-align: center;
    letter-spacing: 1.3px;
    text-transform: uppercase;

    color: #000000;
}

.copy {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */

    letter-spacing: 0.759146px;

    color: #FFFFFF;
}

.copy_div {
    width: 481px;
}

.footer_bottom {
    display: flex;
}

.footer_nav_left {
    display: flex;
}

.footer_nav_left a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;

}

.footer_nav_left div:not(:first-child) {
    margin-left: 20px;
}

.footer_border_bott {
    border-bottom: 1px solid #FFC121;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;

}

.footer_bottom_right {
    margin-right: 10%;
}

@media screen and (max-width: 1778px) {
    .main_first_top_left_header {
        width: 80%;
    }

    .body_wrapper {
        width: 80%;
    }
}

@media screen and (max-width: 1630px) {
    .main_first_top_left_header {
        width: 100%;
    }

    .main_first_top {
        /*display: flex;*/
        flex-direction: column;
    }

    .main_first_top_left_body {
        margin-bottom: 50px;
    }

    .top_right_background img {
        width: 100%;
        height: 456px;
    }

    .main_first_top_right {
        /*margin-left: 10%;*/
        margin-bottom: 20px;
    }

    .main_first_bottom {
        justify-content: space-between;
    }

    .main_first_bottom div {
        width: 48%;
    }

    .main_first_bottom_right {
        display: flex;
        justify-content: center;
    }

    .main_first_top_left_header {
        /*width: 90%;*/
        /*margin: 0 auto;*/
        margin-bottom: 32px;

    }

    .main_first_top_left_header a {
        font-size: 20px;
        padding: 10px;
    }

    .background_left_girl {
        left: 16%;
    }

    .background_center_phone {
        left: 36%;
    }

    .background_right_girl {
        left: 58%;
    }

    .main_first_top_left {
        margin-right: 0;
    }

    .about_us {
        margin-top: 400px;
    }

    /*.services_wrapper {*/
    /*    width: 100%;*/
    /*}*/

}


@media screen and (max-width: 1520px) {
    .case_studies_button {
        width: 50%;
    }
}

@media screen and (max-width: 1463px) {
    .services_left {
        margin-right: 10%;
    }

    .before_sol p::after {
        content: "";
        border: 2px solid #FFC121;
        transform: rotate(180deg);
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 27%;
        z-index: -1;
    }

    @media screen and (max-width: 1399px) {
        .header {
            width: 100%;

        }

        .header_nav {
            flex-basis: 80%;
        }

        .main_first_top_left {
            margin-right: 0;
        }

        .about_us_wrapper {
            flex-direction: column;
        }

        .one_img {
            display: none;
        }

        .one_img img {
            max-width: 180%;
            margin-left: 67%;

        }

        .about_us_left_group_one img {
            margin-bottom: 4%;
        }

        .about_us_left_group_one img {
            width: 100%;
        }

        .two_img {
            display: none;
        }

        .two_img img {
            width: 250%;
        }

        .about_us_left {
            margin-right: 0;
        }

        .services_block_wrapper {
            display: block;
        }

        .case_studies_main_wrapper {
            position: relative;

        }

        .case_studies_main_right img {
            /*height: 75%;*/
            /*width: 40%;*/
            /*position: absolute;*/
            /*top: 7%;*/
            /*left: 40%;*/
        }

        .case_studies_main_left {
            /*position: absolute;*/
        }

        .case_studies_main_right img {
            position: absolute;
            /*height: 50%;*/
            max-height: 78%;
            width: 40%;
            top: 5%;
            left: 52%;

        }

        .owerview_conent {
            min-width: 180%;
        }

        .before_sol p::after {
            content: "";
            border: 2px solid #FFC121;
            transform: rotate(180deg);
            display: block;
            width: 80%;
            position: absolute;
            top: 50%;
            left: 27%;
            z-index: -1;
        }

        .overview p::after {
            content: "";
            border: 2px solid #FFC121;
            transform: rotate(180deg);
            display: block;
            width: 80%;
            position: absolute;
            top: 50%;
            left: 27%;
            z-index: -1;

        }

    }
}

@media screen and (max-width: 1302px) {
    .before_sol p::after {
        content: "";
        border: 2px solid #FFC121;
        transform: rotate(180deg);
        display: block;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 35%;
        z-index: -1;
    }

    .overview p::after {
        content: "";
        border: 2px solid #FFC121;
        transform: rotate(180deg);
        display: block;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 35%;
        z-index: -1;

    }
}

@media screen and (max-width: 1288px) {
    .result_main_third {
        display: block;
    }

    .result_main_third img {
        /*width: 70%;*/
        /*margin-left: 190px;*/
        margin-bottom: 50px;


    }
    .result_main_third_img img{
     display: block;
        margin: 0 auto;
        margin-bottom: 38px;


    }

    .result_main_third img img {

    }

    .wrapper_money_first {
        display: flex;
        justify-content: space-around;
        min-width: 100%;
    }

    .wrapper_money_first div {
        border: 2px solid #FFC121;
        padding: 0 0 10px 0;
        border-radius: 50px;
        flex-basis: 50%;
        text-align: center;
    }

    .wrapper_money_second div {
        border: 2px solid #FFC121;
        padding: 0 0 10px 0;
        border-radius: 50px;
        flex-basis: 50%;
        text-align: center;

    }

    .wrapper_money_first > div:nth-child(1) {
        margin-right: 10px;
    }

    .wrapper_money_first > div:nth-child(2) {
        margin-left: 10px;
    }

    .wrapper_money_second > div:nth-child(1) {
        margin-right: 10px;
    }

    .wrapper_money_second > div:nth-child(2) {
        margin-left: 10px;
    }


    .wrapper_money_second {
        display: flex;
        justify-content: space-around;
        min-width: 100%;
    }

    .result_main_third_right_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .money {
        text-align: center;
    }

    .case_studies_button {
        width: 60%;
    }

    .case_studies_main_right {
        left: 45%;
    }
    .result_main_third_img {
        margin-right: 0;
    }
}

@media screen and (max-width: 1214px) {
    .case_studies_main_right img {
        max-height: 75%;
        width: 42%;


    }
}

@media screen and (max-width: 1202px) {
    .footer_bottom {
        display: flex;
        flex-direction: column-reverse;
    }

    .footer_bottom_right {
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        display: flex;
        margin-bottom: 20px;
    }

    .footer_nav_left {
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        display: flex;
    }

    .copy_div {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer_top {
        margin: 0 0 20px 0;
    }

    .footer {
        margin-top: 0;
    }

    .footer_top_nav {

        flex-basis: 60%;
    }

    .footer_top_nav_butt {
        margin-right: 0;
    }

    .owerview_conent {
        margin-top: 40px;
    }
}

@media screen and (max-width: 1198px) {

    /*.case_studies_main_right img {*/
    /*    position: absolute;*/
    /*    !*height: 50%;*!*/
    /*    height: 78%;*/
    /*    width: 40%;*/
    /*    top: 5%;*/
    /*    left: 52%;*/
    /*}*/
    .before_sol p {
        /*margin-right: 100px;*/
    }
}

@media screen and (max-width: 1173px) {
    .big_goals {
        font-size: 60px;
    }

    .background_left_girl {
        left: 8%;
    }

    .background_center_phone {
        left: 30%;
    }

    .background_right_girl {
        left: 47%;
    }

    .main_first_top_left {
        margin-right: 0;
    }

    /*.owerview_conent p {*/
    /*    width: 75%;*/
    /*}*/
    .case_studies_main_wrapper {
        /*width: 70%;*/
        margin: 0 auto;
    }

    .case_studies_main_left {
        width: 100%;
    }


}

@media screen and (max-width: 1070px) {
    /*.case_studies_wrapper {*/
    /*    width: 90%;*/
    /*}*/
    .case_studies_main_right img {
        height: 60%;
        width: 43%;
        top: 16%;
    }

    .case_studies_button {
        width: 70%;
    }
    .wrapper_money_first div >p:nth-child(1){
        padding: 0 0 0 0;
        font-size: 35px;
        margin: 0;

    }
    .wrapper_money_first div >p:nth-child(2){
        padding: 0 0 0 0;
        font-size: 20px;
    }

    .wrapper_money_second div >p:nth-child(1){
        padding: 0 0 0 0;
        font-size: 35px;
        margin: 0;

    }
    .wrapper_money_second div >p:nth-child(2){
        padding: 0 0 0 0;
        font-size: 20px;
    }
    .result_main_third_img img{
        /*display: flex;*/
        /*flex-direction: column;*/
        /*align-items: center;*/
        /*justify-content: center;*/
        /*margin-right: 20px;*/
    }

}

@media screen and (max-width: 959px) {
    .header_nav {
        display: none;
    }

    .main_first_top_left_header a {
        font-size: 15px;
        padding: 10px;
    }

    .background_right_girl {
        display: none;
    }

    .background_left_girl {
        left: 14%;
    }

    .background_center_phone {
        left: 39%;
    }

    .main_first_top_left {
        margin-right: 0;
    }

    .main_first_bottom {
        margin-top: 0;
    }

    .main_first {
        margin-top: 35px;
    }

    .burger_icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burgerNavOn {
        width: 100%;
        /*position: fixed;*/
    }

    .before_sol p::after {
        content: "";
        border: 2px solid #FFC121;
        transform: rotate(180deg);
        display: block;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 42%;
        z-index: -1;
    }

    .overview p::after {
        content: "";
        border: 2px solid #FFC121;
        transform: rotate(180deg);
        display: block;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 42%;
        z-index: -1;

    }

}

/*MIN WITH!!!!!MIN WITH!!!!!MIN WITH!!!!!MIN WITH!!!!!MIN WITH!!!!!*/
@media screen and (min-width: 959px) {
    .burgerNavOn {
        display: none;
    }
}

/*MIN WITH!!!!!MIN WITH!!!!!MIN WITH!!!!!MIN WITH!!!!!MIN WITH!!!!!*/

@media screen and (max-width: 918px) {
    .case_studies_main_right img {
        height: 59%;
        width: 43%;
        top: 16%;
    }

    .overview {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .wrapper_money_first{
        display: block;

    }
    .wrapper_money_second{
        display: block;
    }
    .wrapper_money_first > div:nth-child(1) {
    margin: 0 0 17px 0;
    }
    .wrapper_money_first > div:nth-child(2) {
        margin: 0;
    }
    .wrapper_money_second > div:nth-child(1) {
        margin: 0 0 17px 0;
    }
    .wrapper_money_second > div:nth-child(2) {
        margin: 0;
    }
}

@media screen and (max-width: 880px) {
    .case_studies_low {
        /*width: 80%;*/
        /*margin-bottom: 0;*/
        font-size: 30px;
    }
}

@media screen and (max-width: 862px) {
    .case_studies_main_right img {
        /*    height: 58%;*/
        width: 45%;
        top: 14%;
        left: 60%;
    }
    .result_main_third img {
        /*width: 70%;*/
        /*margin-left: 190px;*/
        margin-bottom: 50px;


    }
}

@media screen and (max-width: 780px) {
    /*.main_first_top_left_header a{*/
    /*    font-size: 14px;*/
    /*    padding: 6px;*/
    /*}*/
    .body_wrapper {
        width: 92%;
    }

    .main_first_top_left {
        margin-right: 0;
    }

    .main_first_bottom {
        margin-top: 0;
    }

    .main_first_top_left_header {
        margin-bottom: 10px;
    }

    .burgerNavOn {
        width: 93%;
    }

    .case_studies_button {
        width: 80%;
    }
    .ul_before li {
        font-size: 16px;
    }
    .before_sol p{
        font-size: 22px;
    }
    .overview p{
        font-size: 22px;
    }
    .owerview_conent p{
        font-size: 18px;
    }
    .case_studies_main_right img {
        /*    height: 58%;*/
        width: 45%;
        top: 14%;
        left: 50%;
    }


}

@media screen and (max-width: 730px) {
    .services_block_wrapper img {
        height: 90%;
        width: 90%;
    }

    .services_block_top div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .services_block_bottom div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*.insta{*/
    /*    height: 110px;*/
    /*    width: 110px;*/
    /*}*/
    .result_main_third_img img {
        width: 80%;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 681px) {
    .big_goals {
        font-size: 50px;
        line-height: 90px;
    }

    .main_first_top_left_header a {

        font-size: 14px;
        padding: 6px;
    }

    .main_first_top_left_header {
        width: 99%;
        margin-bottom: 0;
    }

    .main_first_top_left {
        margin-right: 0;
    }

    .main_first_bottom {
        margin-top: 0;
    }

    .as_one {
        margin-top: 0;
    }

    .main_first_bottom p {
        padding: 2px;
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/

    }

    .p_\$ {
        /*display: none;*/
        /*visibility: hidden;*/
        font-size: 20px;
        padding: 0;
        border-radius: 0;
        background: #FFFFFF;
    }

    .main_first_bottom_left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about_us {
        margin-top: 350px;
    }

    .about_us_right_top p {
        font-size: 30px;
    }

    .about_us_right_bottom p {
        font-size: 17px;
    }

    .about_us_right_bottom span {
        font-size: 20px;
    }

    /*.burgerNavOn{*/
    /*    width: 80%;*/
    /*}*/
    .case_studies_button {
        width: 90%;
    }

    .case_studies_button a {
        font-size: 25px;
        padding: 6px;
    }
    .case_studies_main_right img {
        /*    height: 58%;*/
        width: 55%;
        top: 16%;
        left: 45%;
        height: 56%;
    }
    .footer_top_nav{
       flex-basis: 70%;
    }
}

@media screen and (max-width: 562px) {
    .footer_top_nav {
        flex-basis: 77%;
    }
    .footer_top{
        display: block;
    }
    .footer_top_logo img{
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 541px) {
    .owerview p {
        padding: 0;
        margin: 0;
    }

    @media screen and (max-width: 541px) {
        .big_goals {
            font-size: 40px;
            line-height: 85px;
        }

        .main_first_top_left_header a {

            font-size: 12px;
            padding: 4px;
        }

        .main_first {
            margin-top: 15px;
        }

        .main_first_top_left_body {
            margin: 0;
            padding: 0;
        }

        .background_center_phone img {
            height: 450px;

        }

        .background_center_phone {
            top: 1.4%;
        }

        .as_one {
            font-size: 14px;
        }

        .thanks_to {
            font-size: 14px;
        }

        .about_us {
            margin-top: 310px;
        }

        .about_us_right_top p {
            font-size: 24px;
        }

        .about_us_header p {
            font-size: 37px;
        }

        .case_studies_button {
            width: 98%;
        }

        .case_studies_button a {
            font-size: 20px;
            padding: 0;
        }

    }

    @media screen and (max-width: 451px) {
        .big_goals {
            font-size: 30px;
            line-height: 80px;
        }


        .main_first_top_left_header a {

            font-size: 10px;
            padding: 3px;
        }

        .background_center_phone {
            left: 30%;
        }

        .background_left_girl {
            left: 10%;
        }

        .item_money {
            display: none;
        }

        .main_first_bottom p {
            padding: 10px;
        }
        .footer_top_nav{
            display: block;
        }
        .footer_top_nav_butt{
            text-align: center;
        }
        .footer_top_nav_icon{
            display: flex;
            justify-content: space-around;
            margin-bottom:15px ;
        }
        .footer_nav_left a{
            font-size: 12px;
        }
        .footer_bottom_left p{
            font-size: 14px;
        }
    }

    @media screen and (max-width: 399px) {
        .big_goals {
            font-size: 27px;
            line-height: 80px;
        }

        .main_first_bottom p {
            padding: 9px;
            font-size: 12px;
        }

        .main_first_top_left_header a {

            font-size: 9px;
            padding: 3px;
        }

        .about_us {
            margin-top: 330px;
        }
        /*.footer_top_nav_icon img{*/
        /*    font-size: 5px;*/
        /*}*/
        /*.footer_top_nav_butt a{*/
        /*    padding: 10px 10px;*/
        /*}*/
    }
}



